---
http_interactions:
- request:
    method: get
    uri: https://circleci.com/api/v1/project/sparkbox/mina-circle/6/artifacts?circle-token=<CIRCLE_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      X-Circleci-Identity:
      - i-6e5e27ee
      X-Circleci-Request-Id:
      - cea3b312-1b53-4c06-a782-5e4de0d23ed2
      X-Circleci-Scopes:
      - ":all"
      - ":none"
      - ":read-settings"
      - ":status"
      - ":view-builds"
      - ":write-settings"
      X-Route:
      - "/api/v1/project/:username/:repo/:build_num/artifacts"
      - ":build_num"
      - "\\d+"
    body:
      encoding: ASCII-8BIT
      string: |-
        // Hello human (for machine readable JSON, use the "application/json" Accept header)

        [ {
          "path" : "/home/ubuntu/mina-circle/build/mina-circle-1.1.1.gem",
          "pretty_path" : "/home/ubuntu/mina-circle/build/mina-circle-1.1.1.gem",
          "node_index" : 0,
          "url" : "https://circle-artifacts.com/gh/sparkbox/mina-circle/6/artifacts/0/home/ubuntu/mina-circle/build/mina-circle-1.1.1.gem"
        } ]
  recorded_at: Thu, 11 Feb 2016 23:41:10 GMT
recorded_with: VCR 3.0.1
