---
http_interactions:
- request:
    method: get
    uri: https://circleci.com/api/v1/project/sparkbox/mina-circle/tree/master?circle-token=<CIRCLE_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      X-Circleci-Identity:
      - i-f35a2373
      X-Circleci-Request-Id:
      - 2eb7c32c-1a2a-43ae-9f9f-bb94988c80cb
      X-Circleci-Scopes:
      - ":all"
      - ":none"
      - ":read-settings"
      - ":status"
      - ":view-builds"
      - ":write-settings"
      X-Route:
      - "/api/v1/project/:username/:repo/tree/:branch"
      - ":branch"
      - "[^,;?]+"
    body:
      encoding: ASCII-8BIT
      string: |-
        // Hello human (for machine readable JSON, use the "application/json" Accept header)

        [ {
          "compare" : "https://github.com/sparkbox/mina-circle/compare/e211c8797115...446625211e10",
          "previous_successful_build" : null,
          "build_parameters" : null,
          "oss" : true,
          "committer_date" : "2016-02-11T14:10:34-05:00",
          "body" : "",
          "usage_queued_at" : "2016-02-11T19:17:59.952Z",
          "retry_of" : null,
          "reponame" : "mina-circle",
          "ssh_users" : [ ],
          "build_url" : "https://circleci.com/gh/sparkbox/mina-circle/5",
          "parallel" : 1,
          "failed" : null,
          "branch" : "master",
          "username" : "sparkbox",
          "author_date" : "2016-02-11T14:10:34-05:00",
          "why" : "github",
          "user" : {
            "is_user" : false,
            "login" : null,
            "email" : null
          },
          "vcs_revision" : "446625211e10e5e5053446f59029956045b3c8f4",
          "vcs_tag" : null,
          "build_num" : 5,
          "infrastructure_fail" : false,
          "ssh_enabled" : false,
          "committer_email" : "mike@heysparkbox.com",
          "has_artifacts" : true,
          "previous" : {
            "build_num" : 1,
            "status" : "no_tests",
            "build_time_millis" : 38931
          },
          "status" : "fixed",
          "committer_name" : "Michael Yockey",
          "retries" : null,
          "subject" : "chore: Configuring CircleCI to build the gem",
          "vcs_type" : "github",
          "timedout" : false,
          "dont_build" : null,
          "lifecycle" : "finished",
          "no_dependency_cache" : null,
          "stop_time" : "2016-02-11T19:18:58.171Z",
          "build_time_millis" : 56883,
          "circle_yml" : {
            "string" : "test:\n  post:\n    - \"rake gem\"\n\ngeneral:\n  artifacts:\n    - build/\n"
          },
          "messages" : [ ],
          "is_first_green_build" : false,
          "job_name" : null,
          "start_time" : "2016-02-11T19:18:01.288Z",
          "canceler" : null,
          "all_commit_details" : [ {
            "committer_date" : "2016-02-11T14:10:34-05:00",
            "body" : "",
            "branch" : "master",
            "author_date" : "2016-02-11T14:10:34-05:00",
            "committer_email" : "mike@heysparkbox.com",
            "commit" : "446625211e10e5e5053446f59029956045b3c8f4",
            "committer_login" : "yock",
            "committer_name" : "Michael Yockey",
            "subject" : "chore: Configuring CircleCI to build the gem",
            "commit_url" : "https://github.com/sparkbox/mina-circle/commit/446625211e10e5e5053446f59029956045b3c8f4",
            "author_login" : "yock",
            "author_name" : "Michael Yockey",
            "author_email" : "mike@heysparkbox.com"
          } ],
          "outcome" : "success",
          "vcs_url" : "https://github.com/sparkbox/mina-circle",
          "author_name" : "Michael Yockey",
          "node" : null,
          "queued_at" : "2016-02-11T19:18:00.805Z",
          "canceled" : false,
          "author_email" : "mike@heysparkbox.com"
        }, {
          "compare" : null,
          "previous_successful_build" : null,
          "build_parameters" : null,
          "oss" : true,
          "committer_date" : null,
          "body" : null,
          "usage_queued_at" : "2016-02-11T17:57:20.225Z",
          "retry_of" : null,
          "reponame" : "mina-circle",
          "ssh_users" : [ ],
          "build_url" : "https://circleci.com/gh/sparkbox/mina-circle/1",
      [...]
